  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ "/documents" | prepend: site.baseurl }}">Project Documents</a>
                        </li>
                        <br>
                        <li><a href="https://courses.cs.washington.edu/courses/cse481v/16sp/home.php">VR/AR Capstone</a>
                        </li>
                        <br>
                        <li><a href="https://www.microsoft.com/microsoft-hololens/en-us">Microsoft Hololens</a>
                        </li>
                    </ul>
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
                </div>
            </div>
        </div>
    </footer>