<!-- Header -->
<header>
    <div class="container">
    	<div class="intro-text">
    		<img class="logo" src="img/logo2.png" class="img-responsive center-block" alt="">
	    	<div class="row">
	    		<div class="col-lg-6 col-md-6 col-sm-6">
	                <div class="embed-responsive embed-responsive-16by9 intro-video">
	                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J84NEU9bStQ" allowfullscreen></iframe>
	                </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-6">
	            	<div class="available">
	            		Available now on Microsoft Hololens!
	            	</div>
	            	<a class="store-link" href="https://www.microsoft.com/store/apps/9nblggh4xb7w?ocid=badge">
	            		<img src="https://assets.windowsphone.com/13484911-a6ab-4170-8b7e-795c1e8b4165/English_get_L_InvariantCulture_Default.png" alt="Get" />
	            	</a>
	            </div>
	        </div>
		</div>
    </div>
</header>
