<!-- About Section -->
    <section id="timeline" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">10 intense weeks.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Weeks 1-2</h4>
                                    <h4 class="subheading">Proposal and Ramp up</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will propose our project and learn Unity and gain familiarity
                                    with the capabilities of the Hololens.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Weeks 3-4</h4>
                                    <h4 class="subheading">Requirements and Rapid Prototyping</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will solidify our requirements and prototype several
                                    interactions using low-poly resources to explore our input space and refine the
                                    experience.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Weeks 5-7</h4>
                                    <h4 class="subheading">Implementation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After the experimentation phase, we will buckle down and 
                                    work intensively towards creating a cohesive experience. We will give a progress report to the class during Week 7.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Weeks 8-9</h4>
                                    <h4 class="subheading">Refinement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will enhance the visual appeal of our application and incorporate feedback from peers. This is also an opportunity to squash bugs or add extra features.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 10</h4>
                                    <h4 class="subheading">Ship!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will ship our app to the app store and present our final product to the class.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>