.post-list li {
	list-style: none;
	margin-bottom: 40px;
}

.post-list .post-meta {
	font-size: 14px;
	font-weight: bold;
}

.post-list h2 {
	margin: 8px 0px;
}

.blog-post-content {
	font-size: 14px;
	font-weight: 300;
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 40px;
}

.blog-post-content img {
	margin: 20px 0px;
}

.blog-post-date { 
	margin-bottom: 40px;
}